@import url("https://fonts.googleapis.com/css2?family=Zeyada&family=Caveat&display=swap");

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}

.header h1 {
  justify-self: center;
  font-family: "Zeyada", cursive;
  font-size: 5rem;
  line-height: 7rem;
  width: 200px;
  text-align: center;
}

.logo {
  height: 12rem;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1em #646cffaa);
  z-index: 0;
}

.logo:hover {
  filter: drop-shadow(0 0 3rem #a564ffaa);
}

#Welcome {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pixi-canvas {
  z-index: 1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
